body{
    background-image: url("./images/backdrop.jpg");
    background-position: center;
    background-size: cover;
}
.form-group{
color: wheat;
}

.mr-auto{
color: grey !important;
font-weight: bold !important;
}
#match_name{
  font-weight: bold;
  text-align: center;  
}
.btn {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color:#286090;
    opacity: 0.7;
}
.lead{
    text-align: center !important;
}
.container {
    margin-right: 12%;
    margin-left: 12%;
    font-family: Arial, Helvetica, sans-serif;
}

.display-4 {
    font-weight: bold;
    font-size: 60px;
    text-align: center;
 
}

h2 {
    text-align: left;
    margin-bottom: 1%;
    color: wheat !important;
}
.jumbotron {
    margin: 6% 10% 0 10%;
    background-color: grey !important;
}

.btn2survey{
    width: 13em;
    height: 8em;
}
p {
    font-size: 30px;
}

.questionNumber {
    font-weight: bold;
    font-size: 25px;
    color: wheat !important;
}
.question{
    color: wheat !important;
    font-weight: bold;
}